/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

$primary:#37A121;
$background:rgb(247, 247, 247);
$white:rgb(241, 241, 241);
$gray:gray;
$black:rgb(30, 30, 30);
$avatar: rgb(205, 69, 69);


