<div class="container">

  <div class="progresso">
    <div class="title">

      <fa-icon (click)="back()" [icon]="faChevronLeft"></fa-icon>

      <h1>Get Started</h1>
    </div>
    <div class="barra_container">

      <div class="barra"></div>
      <div class="volume"></div>
    </div>
    <div class="footer">

      <ul class="count">
        <li [ngClass]="{ active: ehConcluido('agua') }">
          <fa-icon [icon]="faDroplet"></fa-icon>
        </li>
        <li [ngClass]="{ active: ehConcluido('sono') }">
          <fa-icon [icon]="faMoon"></fa-icon>
        </li>
        <li [ngClass]="{ active: ehConcluido('exercicio') }">
          <fa-icon [icon]="faDumbbell"></fa-icon>
        </li>
        <li [ngClass]="{ active: ehConcluido('ar_puro') }">
          <fa-icon [icon]="faWind"></fa-icon>
        </li>
        <li [ngClass]="{ active: ehConcluido('espiritualidade') }">
          <fa-icon [icon]="faBible"></fa-icon>
        </li>
        <li [ngClass]="{ active: ehConcluido('temperanca') }">
          <fa-icon [icon]="faScaleBalanced"></fa-icon>
        </li>
        <li [ngClass]="{ active: ehConcluido('alimentacao') }">
          <fa-icon [icon]="faCarrot"></fa-icon>
        </li>
        <li [ngClass]="{ active: ehConcluido('sol') }">
          <fa-icon [icon]="faSun"></fa-icon>
        </li>
      </ul>

      <span>{{ passosCompletos }}/{{ steps.length }} steps completed</span>
    </div>

  </div>
  <div class="menu">
    <swiper-container class="mySwiper" effect="cards" grab-cursor="true">
      <swiper-slide>
        <div class="header">
          <fa-icon [icon]="faDroplet"></fa-icon>
        </div>
        <div class="content">
          <div class="progress">
            <div class="title">Hidratação</div>
            <span>
              1000 / 2000ml
            </span>
          </div>
          <span class="qtd">Quantidade em ml.</span>
          <div class="count">
            <div class="decrease" (click)="decrease()">-</div>
            <div class="number">{{agualml}}</div>
            <div class="increase" (click)="increase()">+</div>
          </div>
        </div>
        <button (click)="updateAgua()">Salvar</button>
      </swiper-slide>
      <swiper-slide>
        <div class="header">
          <fa-icon [icon]="faDumbbell"></fa-icon>
        </div>
        <div class="content">
          <div class="progress">
            <div class="title">Exercicio Fisico</div>
            <span>
              1move your body!
            </span>
          </div>
          <span class="qtd">Você se exercitou hoje?</span>
       
        </div>
        <div class="buttons">
          <button (click)="updateExercicio(true)">Sim</button>
          <button (click)="updateExercicio(false)">Não</button>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="header">
          <fa-icon [icon]="faSun"></fa-icon>
        </div>
        <div class="content">
          <div class="progress">
            <div class="title">Luz natural</div>
            <span>
              20 minutos é o ideal!
            </span>
          </div>
          <span class="qtd">Tomou sol hoje?</span>
       
        </div>
        <div class="buttons">
          <button (click)="updateSol(true)">Sim</button>
          <button (click)="updateSol(false)">Não</button>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="header">
          <fa-icon [icon]="faMoon"></fa-icon>
        </div>
        <div class="content">
          <div class="progress">
            <div class="title">Sono</div>
            <span>
              É essencial ter um bom sono!
            </span>
          </div>
          <span class="qtd">Dormiu quantas horas?</span>
       
        </div>
        <div class="count">
          <div class="decrease" (click)="decreaseSono()">-</div>
          <div class="number">{{formatarTempo(sono)}}</div>
          <div class="increase" (click)="increaseSono()">+</div>
        </div>
        <div class="buttons">
          <button (click)="updateSono()">Salvar</button>
        </div>
      </swiper-slide>
      
      <swiper-slide>
        <div class="header">
          <fa-icon [icon]="faScaleBalanced"></fa-icon>
        </div>
        <div class="content">
          <div class="progress">
            <div class="title">Temperança</div>
            <span>
              Equilibrio!
            </span>
          </div>
          <span class="qtd">Hoje você teve equilibrio nas suas escolhas?</span>
       
        </div>
        <div class="buttons">
          <button (click)="updateTemperanca(true)">Sim</button>
          <button (click)="updateTemperanca(false)">Não</button>
        </div>
      </swiper-slide>

        <swiper-slide>
        <div class="header">
          <fa-icon [icon]="faBible"></fa-icon>
        </div>
        <div class="content">
          <div class="progress">
            <div class="title">Confiança em Deus</div>
            <span>
              Orar, Louvar, Ler a palavra...
            </span>
          </div>
          <span class="qtd">Hoje você buscou a Deus?</span>
       
        </div>
        <div class="buttons">
          <button (click)="updateEspiritualidade(true)">Sim</button>
          <button (click)="updateEspiritualidade(false)">Não</button>
        </div>
      </swiper-slide>

        <swiper-slide>
        <div class="header">
          <fa-icon [icon]="faCarrot"></fa-icon>
        </div>
        <div class="content">
          <div class="progress">
            <div class="title">Alimentação</div>
            <span>
              Descascar mais, desembalar menos!
            </span>
          </div>
          <span class="qtd">Hoje você se alimentou bem?</span>
       
        </div>
        <div class="buttons">
          <button (click)="updateAlimentacao(true)">Sim</button>
          <button (click)="updateAlimentacao(false)">Não</button>
        </div>
      </swiper-slide>
      
      <swiper-slide>
        <div class="header">
          <fa-icon [icon]="faWind"></fa-icon>
        </div>
        <div class="content">
          <div class="progress">
            <div class="title">Ar puro</div>
            <span>
              Respirar fundo ar da natureza!
            </span>
          </div>
          <span class="qtd">Hoje você respirou ar puro?</span>
       
        </div>
        <div class="buttons">
          <button (click)="updateAr(true)">Sim</button>
          <button (click)="updateAr(false)">Não</button>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>


</div>