<div class="container">

  <div class="progresso">
    <div class="title">

      <fa-icon (click)="back()" [icon]="faChevronLeft"></fa-icon>

      <h1>Meus Objetivos</h1>
    </div>
    <div class="barra_container">

      <div class="barra"></div>
      <div class="volume"></div>
    </div>
    <div class="footer">

      <ul class="count">
        <li [ngClass]="{ active: ehConcluido('agua') }">
          <fa-icon [icon]="faDroplet"></fa-icon>
        </li>
        <li [ngClass]="{ active: ehConcluido('sono') }">
          <fa-icon [icon]="faMoon"></fa-icon>
        </li>
        <li [ngClass]="{ active: ehConcluido('exercicio') }">
          <fa-icon [icon]="faDumbbell"></fa-icon>
        </li>
        <li [ngClass]="{ active: ehConcluido('ar_puro') }">
          <fa-icon [icon]="faWind"></fa-icon>
        </li>
        <li [ngClass]="{ active: ehConcluido('espiritualidade') }">
          <fa-icon [icon]="faBible"></fa-icon>
        </li>
        <li [ngClass]="{ active: ehConcluido('temperanca') }">
          <fa-icon [icon]="faScaleBalanced"></fa-icon>
        </li>
        <li [ngClass]="{ active: ehConcluido('alimentacao') }">
          <fa-icon [icon]="faCarrot"></fa-icon>
        </li>
        <li [ngClass]="{ active: ehConcluido('sol') }">
          <fa-icon [icon]="faSun"></fa-icon>
        </li>
      </ul>

      <span>{{ passosCompletos }}/{{ steps.length }} steps completed</span>
    </div>

  </div>
  <div class="menu">
    <swiper-container class="mySwiper" effect="cards" grab-cursor="true">
      <swiper-slide>
        <div class="header">
          <fa-icon [icon]="faDroplet"></fa-icon>
          <h1 class="title">Beber Água</h1>
        </div>
        <div class="content">

          <span class="qtd">Quanto de água você bebeu hoje?</span>
          <div class="count">
            <div class="decrease" (click)="decrease()">-</div>
            <div class="number">{{agualml}}/ml</div>
            <div class="increase" (click)="increase()">+</div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="header">
          <fa-icon [icon]="faDumbbell"></fa-icon>
          <div class="title">Exercicio Fisico</div>
        </div>
        <div class="content">

          <span class="qtd">Você se exercitou hoje?</span>

        </div>
        <div class="buttons">
          <button (click)="updateExercicio(true)">Me exercitei  <fa-icon [icon]="faCheck"></fa-icon></button>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="header">
          <fa-icon [icon]="faSun"></fa-icon>
          <div class="title">Luz natural</div>
        </div>
        <div class="content">

          <span class="qtd">Tomou sol hoje?</span>

        </div>
        <div class="buttons">
          <button (click)="updateSol(true)">Tomei sol <fa-icon [icon]="faCheck"></fa-icon></button>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="header">
          <fa-icon [icon]="faMoon"></fa-icon>
          <div class="title">Sono</div>
        </div>
        <div class="content">

          <span class="qtd">Dormiu quantas horas?</span>

          <div class="count">
            <div class="decrease" (click)="decreaseSono()">-</div>
            <div class="number">{{formatarTempo(sono)}}</div>
            <div class="increase" (click)="increaseSono()">+</div>
          </div>
        </div>
        <div class="buttons">
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="header">
          <fa-icon [icon]="faScaleBalanced"></fa-icon>
          <div class="title">Temperança</div>
        </div>
        <div class="content">

          <span class="qtd">Hoje você teve equilíbrio nas suas escolhas?</span>

        </div>
        <div class="buttons">
          <button (click)="updateTemperanca(true)">Tive equilíbrio <fa-icon [icon]="faCheck"></fa-icon></button>
        </div>
      </swiper-slide>

        <swiper-slide>
        <div class="header">
          <fa-icon [icon]="faBible"></fa-icon>
          <div class="title">Espiritualidade</div>
        </div>
        <div class="content">

          <span class="qtd">Hoje você buscou a Deus?</span>

        </div>
        <div class="buttons">
          <button (click)="updateEspiritualidade(true)">Sim <fa-icon [icon]="faCheck"></fa-icon></button>
        </div>
      </swiper-slide>

        <swiper-slide>
        <div class="header">
          <fa-icon [icon]="faCarrot"></fa-icon>
          <div class="title">Alimentação</div>
        </div>
        <div class="content">

          <span class="qtd">Hoje você se alimentou bem?</span>

        </div>
        <div class="buttons">
          <button (click)="updateAlimentacao(true)">Alimentei bem <fa-icon [icon]="faCheck"></fa-icon></button>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="header">
          <fa-icon [icon]="faWind"></fa-icon>
          <div class="title">Ar puro</div>
        </div>
        <div class="content">

          <span class="qtd">Hoje você respirou ar puro?</span>

        </div>
        <div class="buttons">
          <button (click)="updateAr(true)">Respirei ar puro <fa-icon [icon]="faCheck"></fa-icon></button>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>


  <div class="tips">
      <fa-icon [icon]="faLightbulb"></fa-icon>
      <span>Mantenha-se hidratado ao praticar exercícios.</span>
  </div>
</div>
